body{
	width: 50%;
	margin: auto;
	border: 20px solid #bdc3c7;
	font-family: Source Sans Pro;
}

div{
	margin:4%;
}

.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 3px;

}

.First{
	border-left: 4px solid #bdc3c7;
	padding-left: 7px;
}

h2{
	font-weight: 700;
	color:#2c3e50;
	font-size: 30px;
}

hr{
	margin: 4%;
	height:2px;
	background-color:#bdc3c7;
}